
.portfolioProyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 5, 5);
}

.portfolio.aparecer {
    animation: movertexto 1.5s both;
}

@keyframes movertexto {
    0% {
        opacity: 0;
        transform: translateX(700px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.portfolioProyectosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.portfolioProyectos__TituloCont {
    background-color: rgb(6, 5, 5);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioProyectos__Titulo {
    background-color: rgb(6, 5, 5);
    color: rgb(244, 243, 241);
    text-align: center;
    width: 100vw;
    height: 75px;
    font-family: 'Inter', sans-serif;
    font-size: 4.2rem;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 670px;
    height: auto;
    margin: 2rem;
    padding: 1rem;
    opacity: 0;
    border-left: solid white 5px;
    border-bottom: solid white 5px;
}

.portfolioImg {
    width: 650px;
    height: 400px;
    object-fit: cover;
}

.portfolioTitulo {
    font-family: 'Phudu', cursive;
    margin-top: 1.5rem;
    color: rgb(243, 242, 243);
}

.portfoloDescripcion {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    width: 600px;
    height: 120px;
    margin-top: 1.2rem;
    color: rgb(251, 247, 252);
}

.portfolioLink {
    font-family: 'Phudu', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(246, 172, 83);
}

/* MOBILE */

@media screen and (max-width: 600px) {

    .portfolioProyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(6, 5, 5);
     
    }
    
    .portfolioProyectosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
    .portfolioProyectos__TituloCont {
        background-color: rgb(6, 5, 5);
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .portfolioProyectos__Titulo {
        background-color: rgb(6, 5, 5);
        color: rgb(244, 243, 241);
        text-align: center;
        height: 35px;
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
    }
    
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 450px;
        margin: 1rem;
        opacity: 0;
        border-left: none;
        border-bottom: none;
        border: solid rgb(255, 255, 255) 1px;
    }
    
    .portfolioImg {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    
    .portfolioTitulo {
        font-family: 'Phudu', cursive;
        font-size: 1.2rem;
        margin-top: 10px;
        color: rgb(246, 172, 83);
    }
    
    .portfoloDescripcion {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        width: 90%;
        height: 170px;
        margin-top: 1rem;
        color: rgb(251, 247, 252);
        text-align: center;
    }
    
    .portfolioLink {
        font-family: 'Phudu', cursive;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: none;
        color: rgb(246, 172, 83);
        margin: 1rem;
    }
}